@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*---Home---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(5, 64, 69, 0.7), rgba(5, 64, 69, 0.7)), url(../photos/59dc8612ba3b5772fd23126a24fe9e27.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: #004c4a;
  color: #fff;
  border-radius: 5px;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 40px;
  font-weight: 800px;
}
@media(max-width: 700px) {
  .text-box{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #ffff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    z-index:2;
    
  }
}
/*---AboutUs---*/
.AboutUs {
  padding-top: 1%;
  padding-left: 20px;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(5, 64, 69, 0.7), rgba(5, 64, 69, 0.7)), url(../photos/AboutUsbackgrd.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
  text-align: auto;
}
.image-sec{
    padding-top:2px;
    text-align: center;
    border-radius: 10px;
  }
  .image-sec img {
    border-radius: 50px;
    object-fit: cover;
  }
  /*---Services---*/
  .Services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .h1{
    font-size: 60px;
    font-weight: 400;
  }
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .course-col{
    flex-basis: 31%;
    background: #d6ebea;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;    
  }
  .row :hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }